@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --bg-light: #4B6A9B; 
  --text-light: #000000;
  --bg-dark: #141D2F; 
  --text-dark: #ffffff; 
}

body {
  font-family: 'Space Mono', monospace;
}

.search {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}

.avatar {
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.20);
}


@media (max-width: 767px) {
  .mobile {
    width: 375px;
    height: 777px;
  }

  .hey {
    width: 327px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
  }

  .error {
    position: absolute;
    left: 60px;
    bottom: 5px;
    margin: 0;
  }

  .mode {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
  }

  .search {
    width: 327px;
    font-size: 13px;
    margin: 0;
    position: relative;
  }

  .oct {
    font-size: 16px;
    margin: 0;
  }

  .join{
    margin: 0;
    display: none;
  }

  .join-2 {
    margin: 0;
    display: block;
    font-size: 13px;
  }

  .my-btn {
    font-size: 13px;
    padding: 10px;
    position: absolute;
    left: 255px;
  }

  .bio {
    font-size: 13px;
  }

  .repo {
    width: 279px;
    height: 90px;
    display: flex;
    gap: 30px;
    padding-left: 15px;
  }
}